/* Copyright (c) 2017 Fadhli Dzil Ikram. All rights reserved. */

/* Global page canvas settings */
body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Font settings */
body, p, div, span, td, strong, input, button {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/* Heading and margin size */
h1 {
  font-size: 2.5rem;
  margin-top: 1.6rem;
}

h2 {
  font-size: 2.25rem;
  margin-top: 1.4rem;
}

h3 {
  font-size: 1.75rem;
  margin-top: 1.2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h4, h5, h6 {
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6, .navbar-title, .subheading {
  font-family: "PT Serif", Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.8rem;
}

p {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/* Navigational bar */
.navbar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.navbar-left-container {
  flex-grow: 1;
}

.navbar-left-container, .navbar-right-container {
  line-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-title {
  font-size: 1.5rem;
}

.navbar-navigation {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar-navigation a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #444;
  padding: 16px 20px;
}

.navbar-navigation a:hover {
  color: #EB7F00;
}

/* Jumbotron asset */
.jumbotron {
  background: #f0f0f0;
}

.jumbotron-container {
  width: 100%;
  box-sizing: border-box;
  padding: 36px 36px 126px 36px;
  border-radius: 4px;
}

/* Card */
.text-center {
  text-align: center;
}

.card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  margin: 16px auto;
}

.flex {
  display: flex;
  flex-direction: row;
}

.card-img {
  display: block;
  width: 150px;
  height: 100px;
  border: none;
  background: #eee;
  margin: 0;
  padding: 0;
}

.card-picture {
  margin-right: 24px;
}

.card-text {
  flex-grow: 1;
}

.subheading {
  font-size: 1.4rem;
  margin-top: -0.8rem;
}

/* Container configuration */
.container {
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
}

/* Footer */
.footer {
  margin-top: 80px;
  width: 100%;
  padding: 24px 0;
  background: #444;
  color: #fff;
}

.row {
  width: 100%;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.row > *:first-child, .box > *:first-child {
  margin-top: 0 !important;
}

.row > *:last-child, .box > *:last-child {
  margin-bottom: 0 !important;
}

.inside {
  background: #ddd;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
